
.featured-box-holder{
    width:240px; 
    height: 240px; 
    box-sizing: border-box;
}

.featured-box{
    overflow:hidden; 
    position:relative; 
    max-height:100%;
    min-height: 100%;
    transition: max-height 0.5s;
    background-color: white;
}

.featured-box:hover{
    max-height:300%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }